@using CSPExample.Helper
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="#" id="click">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script type="text/javascript" nonce="@Html.Nonce()">
        var link = document.getElementById("click");
        link.addEventListener("click", function () {
            alert("Clicked me!");
        });
    </script>
}